:root {
    --input-linear: linear-gradient(120deg, rgb(41, 23, 207), #000000);
    --button-linear: linear-gradient(120deg, rgba(0, 0, 0, 0.781), rgb(25, 0, 255), rgba(0, 0, 0, 0.781));
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --light-gray: #cfcfcf;
    --border-height: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    margin-bottom: 32px;
    color: var(--black);
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}


.login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--light-gray);
    transition: .3s ease-in-out;
}

.login__input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login__input:focus * .login__input-border::after {
    width: 100%;
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.login__submit:hover {
    background-position: right;
}

.login__reset {
    font-size: 12px;
    color: var(--gray);
    text-decoration: none;
}

.login__reset:hover {
    color: red;
    text-decoration: none;
}

footer h2{
    position: absolute;
    display: block;
    bottom: 0;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #f5f5f5;
}

a{
    color:rgb(247, 247, 247);
}

a:hover{
    color:rgb(4, 50, 175);
}
